/* =================================
------------------------------------
  Anik Hossain | Portfolio Template
  Version: 1.0.0
 ------------------------------------
 ====================================*/

/* Import Fonts */
@font-face {
    font-family: Baloo-Regular;
    src: url(../Fonts/baloo/Baloo-Regular.ttf);
}

@font-face {
    font-family: pacifo;
    src: url(../Fonts/pacifico/Pacifico.ttf);
}

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
:root {
    --dark: #2c3e50;
    --light: #bdc3c7;
    --white: #f1f1f1;
    --blue: #00c6ff;
    --light-blue: #ccf6fd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Baloo-Regular;
    color: var(--white);
    background: var(--light);
    background: -webkit-linear-gradient(to right, var(--dark), var(--light));
    background: linear-gradient(to right, var(--dark), var(--light));
    letter-spacing: 1.2px;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: var(--white);
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 18px;
    color: #ccf6fd;
    line-height: 1.6;
}

a {
    color: #ccf6fd;
}

a:hover,
a:focus {
    color: #ccf6fd;
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

ul,
ol {
    list-style: none;
}

/*---------------------
  Helper CSS
-----------------------*/
.o-hidden {
    overflow: hidden !important;
}
.section-padding {
    padding: 80px 0;
}

/*---------------------
  Common elements
-----------------------*/

/* boxed button */
.boxed-btn {
    font-family: Baloo-regular;
    display: inline-block;
    border: 2px solid #ccf6fd;
    border-radius: 50px;
    padding: 12px 40px;
}
.section-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}
/*------------------
  Header section
---------------------*/
header {
    /* border-bottom: 1px solid var(--light); */
    position: fixed;
    width: 100%;
    background: var(--light);
    background: -webkit-linear-gradient(to right, var(--dark), var(--light));
    background: linear-gradient(to right, var(--dark), var(--light));
    box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.032),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.048),
        100px 100px 80px rgba(0, 0, 0, 0.08);
    z-index: 9999;
}
/* Logo */
header .logo {
    margin: 5px 0;
    color: var(--blue);
}

header .logo .logo-name {
    display: inline-block;
    font-family: pacifo;
    font-size: 38px;
}

/* Navigation */
.mobile-menu {
    display: none;
}
.main-menu ul {
    display: flex;
}

.main-menu ul li {
    /* display: flex; */
    padding: 0.6rem 0 0 2rem;
}

.main-menu ul li a {
    display: block;
    transition: 0.3s;
    letter-spacing: 2px;
    position: relative;
}
.main-menu ul li a:hover,
.main-menu ul li a.active {
    text-shadow: 2px 2px 4px #000000;
}

.main-menu ul li a:hover::before,
.main-menu ul li a.active::before {
    width: 100%;
    left: 0;
}

#menu-toggle {
    opacity: 0;
}

#menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu-toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
}

.menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 30px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: 0.25s;
}
.menu-btn > span::before {
    content: '';
    top: -8px;
}
.menu-btn > span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

    transition-duration: 0.25s;
}

.menu-item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: 0.25s;
}
.menu-item:hover {
    background-color: #cfd8dc;
}

/*------------------
  Main Content Area
---------------------*/

/* About Section */
.about-area {
    padding-top: 4.5rem;
}

.about-area .left {
    padding: 10px;
    position: relative;
}
.about-area .left::before {
    content: '';
    background-color: var(--light-blue);
    width: 3px;
    height: 100%;
    position: absolute;
    right: -50px;
    top: 0;
}
.about-area .round-image {
    width: 280px;
    height: 280px;
    position: relative;
    z-index: 1;
    border-radius: 100%;
}
.about-area .round-image::before {
    content: '';
    background-color: #fff;
    width: 272px;
    height: 272px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    left: -1.5%;
    top: -1.5%;
}
.about-area .round-image::after {
    content: '';
    background: #00c6ff;
    background: -webkit-linear-gradient(to left, #00c6ff, #0072ff, #00c6ff);
    background: linear-gradient(to left, #0072ff, #00c6ff, #00c6ff);
    width: 280px;
    height: 280px;
    position: absolute;
    border-radius: 100%;
    z-index: -2;
    left: -3%;
    top: -3%;
}
.about-area .round-image img {
    width: 264px;
    height: 264px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.about-area .about-text {
    padding-left: 60px;
}
.about-area .about-text h2.name {
    color: var(--blue);
    font-family: pacifo;
    font-size: 48px;
    text-transform: capitalize;
}
.about-area .about-text h4 {
    margin: 15px 0px 5px;
}
.about-area .about-text p {
    letter-spacing: 1.4px;
}

/* Services */
.services {
    color: var(--light-blue);
    padding-top: 4rem;
}

.services .item {
    background-color: var(--white);
    color: var(--blue);
    padding: 1.2rem;
    border-radius: 8px;
    transition: 0.5s;
    margin-bottom: 2rem;
}
.services .item:hover {
    transform: translateY(-0.25rem);
    background-color: var(--blue);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.services .item .icon {
    margin-bottom: 1rem;
}
.services .item .icon .st0 {
    fill: none;
    stroke: var(--blue);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.services .item .icon .st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}
.services .item .icon .fill-color {
    fill: var(--blue);
}
.services .item:hover .icon .st0 {
    stroke: var(--white);
}
.services .item .icon .stroke-color {
    stroke: var(--blue);
}
.services .item:hover .icon .stroke-color {
    stroke: var(--white);
}
.services .item:hover .icon .fill-color {
    fill: var(--white);
}
.services .item .title {
    color: var(--blue);
}
.services .item:hover .title {
    color: var(--white);
}
.services .item p {
    color: var(--dark);
}
.services .item:hover p {
    color: var(--white);
}

/* Portfolio */
.portfolio {
    color: var(--light-blue);
    padding-top: 4rem;
}
.portfolio h6.section-title {
    color: #eee;
}
.portfolio nav .nav-tabs {
    border: 0;
}
.portfolio .nav-tabs .nav-item {
    border: 2px solid var(--blue);
    border-radius: 50px;
    margin: 8px;
}
.portfolio .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: var(--blue);
    color: var(--white);
}
.portfolio .tab-pane {
    margin-top: 2rem;
}
.portfolio-item {
    position: relative;
    width: 506px;
    height: 256px;
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 4rem;
}
.portfolio-item img {
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
}
.portfolio-item .inner-content {
    background-color: rgba(44, 62, 80, 0.5);
    position: absolute;
    top: 16rem;
    left: 0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.portfolio-item .inner-content .custom-btn {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    background-color: var(--blue);
    color: var(--white);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.portfolio-item:hover .inner-content {
    top: 0;
}
/*------------------
  Footer Area
---------------------*/
footer .copyright {
    letter-spacing: 1.2px;
}
footer .copyright span.name {
    color: var(--blue);
}
footer .social-links ul li {
    display: inline-block;
}
footer .social-links ul li a {
    background: transparent;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 44px;
    font-size: 22px;
    text-align: center;
    border-radius: 100%;
    margin-right: 10px;
    transition: 0.3s;
}
footer .social-links ul li:last-child a {
    margin: 0;
}
footer .social-links ul li a:hover {
    background-color: #fff;
    color: #19caff;
}
/* ----------------
  Responsive
---------------------*/

@media (min-width: 1200px) {
    .about-area .left::before {
        right: -90px;
    }
}

@media (max-width: 1350px) {
    .portfolio-item {
        width: 420px;
        height: 256px;
    }
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-area .round-image {
        width: 220px;
        height: 220px;
    }
    .about-area .round-image::before {
        width: 212px;
        height: 212px;
    }
    .about-area .round-image::after {
        width: 220px;
        height: 220px;
    }
    .about-area .round-image img {
        width: 202px;
        height: 202px;
    }
    .about-area .left::before {
        right: -55px;
    }
    .about-area .about-text {
        padding-left: 1rem;
        word-wrap: break-word;
    }
    .portfolio-item {
        width: 420px;
        height: 256px;
    }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .mobile-menu {
        display: block;
    }
    .main-menu ul {
        display: none;
    }
    .about-area .left::before {
        right: -90px;
    }
    .about-area .about-text {
        padding-left: 0rem;
    }
    .about-area .left::before {
        display: none;
    }
    .portfolio-item {
        width: 100%;
        height: 220px;
    }
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
    .mobile-menu {
        display: block;
    }
    .main-menu ul {
        display: none;
    }
    .about-area .round-image {
        width: 220px;
        height: 220px;
    }
    .about-area .round-image::before {
        width: 212px;
        height: 212px;
    }
    .about-area .round-image::after {
        width: 220px;
        height: 220px;
    }
    .about-area .round-image img {
        width: 202px;
        height: 202px;
    }
    .about-area .left::before {
        display: none;
    }
    .portfolio-item {
        width: 100%;
        height: 180px;
    }
}

/* Medium Mobile :480px. */

@media only screen and (min-width: 576px) and (max-width: 766px) {
    .mobile-menu {
        display: block;
    }
    .main-menu ul {
        display: none;
    }
    .about-area .about-text {
        padding-left: 0rem;
    }
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
    .mobile-menu {
        display: block;
    }
    .main-menu ul {
        display: none;
    }
    .about-area .about-text {
        padding-left: 0rem;
    }
    footer .copyright {
        letter-spacing: 1px;
    }
    footer .copyright p {
        font-size: 12px;
    }
}
